.about-section {
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px;
    padding: 8px 24px;
    width: 100%;
}

.about-image {
    width: 70%;
    max-width: 425px;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 600px;
}

.about-info-title-mark {
    color: var(--primary-color)
}

.about-info-paragraph {
    text-align: justify;
}

.about-button-cv{
    height: 50px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    overflow: hidden;
    transition: .2s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.about-button-cv:hover{
    border-color: transparent;
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: var(--color)
}

@media screen and (min-width: 1024px) {
    .about-section {
        flex-direction: row;
        text-align: left;
        margin: auto;
    }

    .about-info {
        padding: 32px 0;
    }
}