:root {
    --header-height: 48px;
    --footer-height: 40px;
}

html {
    font-size: 16px;
}

#root {
    min-width: 100dvw;
    min-height: 100dvh;
}

body {
    font-family: Poppins;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

/* App Nav */

.app-header {
    padding: 8px;
}

.app-nav {
    height: var(--header-height);
    display: flex;
    place-items: center;
    background-color: #e7e0e0;
    padding-inline: 8px;
    border-radius: 4px;
}

.app-nav-active {
    height: 100dvh;
    backdrop-filter: blur(16px);
    position: fixed;
    width: 100%;
    inset: 0;
    padding: 8px;
}

.app-nav-title {
    flex: 2;
    text-align: center;
}

.app-nav-menu {
    display: none;
    gap: 3rem;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: transparent;
    padding: calc(var(--header-height) + 24px) 0;
}

.app-nav-active .app-nav-menu {
    display: flex;
}

.app-nav-social-icons {
    display: none;
    position: absolute;
    bottom: 0;
}

.app-nav-active .app-nav-social-icons {
    display: flex;
}

.app-main {
    min-height: calc(100dvh - var(--header-height) - var(--footer-height) - 16px);
}

.app-footer {
    background-color: antiquewhite;
    height: var(--footer-height);
}