:root {
    --header-height: 48px;
    --footer-height: 64px;
    --background: white;
    --color: #eeeeee;
    --letter-color: black;
    --primary-color: #ad21ff;
    --grey: grey;
}

.dark-mode {
    --color: #1c1c1c;
    --letter-color: white;
    --background: black;
    --primary-color: #5a1681;
}

html {
    font-size: 16px;
}

#root {
    min-width: 100dvw;
    min-height: 100dvh;
}

body {
    font-family: Poppins;
    color: var(--letter-color);
    background-color: var(--background);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}