html {
    font-size: 16px;
}

#root {
    min-width: 100dvw;
    min-height: 100dvh;
}

body {
    font-family: Poppins;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}