---
import Layout from '../layouts/Layout.astro'

import Section from '@/components/Section.astro'
import SectionTitle from '@/components/SectionTitle.astro'
import Hero from '@/components/Hero.astro'
import ProfileCheckIcon from '@/icons/ProfileCheck.astro'
import Experience from '@/components/Experience.astro'
---

<Layout title='Portfolio irudev - Web development and programmer with +3 years of experience' description='Portfolio irudev - Web development and programmer with +3 years of experience'>
	<main class="px-4 bg-red-200">
        <Section class="bg-teal-400 py-6 md:py-36">
            <Hero />
        </Section>

        <div class="space-y-24">
            <Section id="experience" class="bg-teal-600">
                <SectionTitle>
                    <ProfileCheckIcon class="size-8" />
                    Laboral experience
                </SectionTitle>
                <Experience />
            </Section>
        </div>
    </main>
</Layout>
