<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
        <div class="[&>p]:mb-4 [&>p>strong]:text-purple-500 dark:[&>p>strong]:text-purple-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            My name is Rubén. I started to program when I was 18 years old. At the moment, <strong>I'm working as computer technician and programmer</strong>
        </p>

        <p>

        </p>

        <p>
            Some of my achievements include helping my classmates who struggled the most during my time as a student. This encouraged me to continue doing so to this day, which is why <strong>I help people who are just starting</strong> out in the world of programming.
        </p>

        <p>
            Additionally, one of my strengths is that <strong>I know how to work in a team</strong>, and I always enjoy learning, which is why I consider myself <strong>self-taught</strong>.
        </p>

        <p>
            As for experience in programming, <strong>I have developed several projects in different languages</strong>, which you can view on this page.
        </p>
    </div>

    <img width="200" height="200" src="/images/profile/me.jpg" alt="irudev image" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-purple-500/5 ring-1 ring-black/70 dark:ring-white/70" style="object-position: 50% 50%">
</article>