---
interface Props{
    status: {
        text: string
        gradient: string
        background: string
        color: string
    }
}

export const STATUS = {
    AVAILABLE: {
        text: 'Available for work',
        gradient: 'bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]',
        background: 'bg-green-100 dark:bg-green-900/20',
        color: 'text-green-800 dark:text-green-100/80'
    }, 
    NON_AVAILABLE: {
        text: 'Non available',
        gradient: 'bg-[conic-gradient(from_90deg_at_50%_50%,#E55757_0%,#542121_50%,#E55757_100%)]',
        background: 'bg-red-100 dark:bg-red-900/20',
        color: 'text-red-800 dark:text-red-100/80'
    },
    PARTIAL: {
        text: 'Working, but open to offers',
        gradient: 'bg-[conic-gradient(from_90deg_at_50%_50%,#8957E5_0%,#3D2154_50%,#8957E5_100%)]',
        background: 'bg-purple-100 dark:bg-purple-900/20',
        color: 'text-purple-800 dark:text-purple-100/80'
    }
}
const {text, color, background, gradient } = Astro.props.status

---
<div class="flex-items center">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
        <span class=`absolute inset-[-1000%] animate-[spin_2s_linear_infinite] ${gradient}`></span>
        
        <div class=`inline-flex items-center justify-center w-full px-3 py-1 text-sm ${color} rounded-full cursor-pointer ${background} backdrop-blur-3xl whitespace-nowrap`>
            {text}
        </div>
    </span>
</div>