---
import { getI18N } from "@/i18n"
import ExperienceItem from "./ExperienceItem.astro"

const {currentLocale} = Astro
const locale = getI18N({currentLocale})

const EXPERIENCE = [
    {
        date: locale.AT_THE_MOMENT_DATE ?? '',
        title: locale.COMPUTER_TECHNICIAN ?? '',
        company: 'Irium Soluciones Y Sistemas, S.I.',
        description: locale.COMPUTER_TECHNICIAN_DESCRIPTION ?? '',
        link: 'https://www.irium.es/'
    },
    {
        date: 'MAR 22 - JUN 22',
        title: locale.ICT_APPLICATION_DEVELOPER ?? '',
        company: 'Bootpret',
        description: locale.COMPUTER_TECHNICIAN_DESCRIPTION ?? ''
    }
]
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map(experience => (
            <li>
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>