---
import MailIcon from "@/icons/Mail.astro"
import LinkedinIcon from "@/icons/Linkedin.astro"

import SocialPill from "./SocialPill.astro"
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
            class="rounded-full shadow-lg size-16"
            src="/images/profile/profile.png"
            alt="irudev's profile"
        />
    </div>
    <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
        Hey, I'm irudev
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-purple-200 [&>strong]:text-purple-500 [&>strong]:font-semibold dark:text-gray-300">
        +3 years of expererience.
        <strong>Web developer and app programmer.</strong>
        from Cádiz, España 🇪🇸. I'm specialized in web and mobile application development.
    </p>

    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="mailto:ruben.moreno.narbona.96@gmail.com">
            <MailIcon class="size-4" />
            Contact me
        </SocialPill>

        <SocialPill href="linkedin">
            <LinkedinIcon class="size-4" />
            Linkedin
        </SocialPill>
    </nav>
</div>