---
const {href} = Astro.props
---

<a href={href} role="link" target="_blank" rel="noopener" class=`
    max-w-fit
    inline-flex items-center justify-center gap-2 
    px-3 py-2 space-x-2 text-base 
    text-white text-md hover:text-white active:bg-black
    transition 
    bg-gray-800 hover:bg-gray-800
    border border-gray-600 hover:border-gray-900 rounded-xl
    focus-visible:ring-purple-500/80 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 
    group 
`>
    <slot />
</a>