---
import Badge from '@/components/Badge.astro'
import { getI18N } from '@/i18n';


const {currentLocale} = Astro
const locale = getI18N({currentLocale})
interface StatusType {
    text: string;
    gradient: string;
    background: string;
    color: string;
}

const STATUS: Record<string, StatusType> = {
    AVAILABLE: {
        text: locale.STATUS_AVAILABLE_TEXT,
        gradient: 'bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]',
        background: 'bg-green-100 dark:bg-green-900/20',
        color: 'text-green-800 dark:text-green-100/80'
    }, 
    NON_AVAILABLE: {
        text: locale.STATUS_NON_AVAILABLE_TEXT,
        gradient: 'bg-[conic-gradient(from_90deg_at_50%_50%,#E55757_0%,#542121_50%,#E55757_100%)]',
        background: 'bg-red-100 dark:bg-red-900/20',
        color: 'text-red-800 dark:text-red-100/80'
    },
    PARTIAL: {
        text: locale.STATUS_PARTIAL_TEXT,
        gradient: 'bg-[conic-gradient(from_90deg_at_50%_50%,#8957E5_0%,#3D2154_50%,#8957E5_100%)]',
        background: 'bg-purple-100 dark:bg-purple-900/20',
        color: 'text-purple-800 dark:text-purple-100/80'
    }
}

const status = STATUS.AVAILABLE
---
<div class="flex gap-4 mb-4">
    <img
        class="rounded-full shadow-md size-16 bg-purple-400 dark:bg-purple-900"
        src="/portfolio/images/profile/profile.png"
        alt="irudev's profile"
    />
    <a href="https://www.linkedin.com/in/ruben-moreno-narbona-50b779199/" target="_blank" rel="noopener" class="flex items-center position md:justify-center md:hover-scale-105">
        <Badge status={status} />
    </a>
</div>