<div class="flex gap-4 mb-4">
    <img
        class="rounded-full shadow-md shadow-purple-300 size-16 bg-purple-400 dark:shadow-purple-700 dark:bg-purple-900"
        src="/images/profile/profile.png"
        alt="irudev's profile"
    />
</div>