---
import NextJSIcon from "@/icons/NextJS.astro"
import TailwindIcon from "@/icons/Tailwind.astro"
import JavaIcon from "@/icons/Java.astro"
import AstroLogo from "@/icons/AstroLogo.astro"

import ProjectItem from "@/components/ProjectItem.astro"
import { getI18N } from "@/i18n"

const {currentLocale} = Astro
const locale = getI18N({currentLocale})

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  JAVA: {
    name: 'Java',
    class: 'bg-white/90 text-black',
    icon: JavaIcon
  },
  ASTRO: {
    name: 'Astro',
    class: 'bg-black text-white',
    icon: AstroLogo
  }
}

const PROJECTS = [
  {
    title: locale.JAVA_COMMON_TITLE,
    description: locale.JAVA_COMMON_DESCRIPTION,
    github: 'https://github.com/irubenboy/common',
    image: '/images/projects/common.png',
    tags: [TAGS.JAVA]
  },
  {
    title: locale.SPOTIFY_CLONE_TITLE,
    description: locale.SPOTIFY_CLONE_DESCRIPTION,
    github: 'https://github.com/irubenboy/spotify-clone-with-astro',
    image: '/images/projects/spotify.png',
    tags: [TAGS.ASTRO]
  },
  {
    title: locale.PORTFOLIO,
    description: locale.PORTFOLIO_DESCRIPTION,
    github: 'https://github.com/irubenboy/portfolio-dev.git',
    link: 'https://irubenboy.github.io/portfolio/',
    image: '/images/projects/portfolio.png',
    tags: [TAGS.ASTRO]
  }
]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(project => (
            <ProjectItem {...project} />
        ))
    }
</div>