---
import NextJSIcon from "@/icons/NextJS.astro"
import TailwindIcon from "@/icons/Tailwind.astro"
import JavaIcon from "@/icons/Java.astro"
import AstroLogo from "@/icons/AstroLogo.astro"

import ProjectItem from "@/components/ProjectItem.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  JAVA: {
    name: 'Java',
    class: 'bg-white/90 text-black',
    icon: JavaIcon
  },
  ASTRO: {
    name: 'Astro',
    class: 'bg-black text-white',
    icon: AstroLogo
  }
}

const PROJECTS = [
  {
    title: 'My Java Common Library',
    description: 'A Java library with string, maths and arrays utils. Besides, it contains class to work keyboard easily and table as output.',
    github: 'https://github.com/irubenboy/common',
    image: '/images/projects/common.png',
    tags: [TAGS.JAVA]
  },
  {
    title: 'Spotify Clone With Astro',
    description: 'Spotify Clone using Astro framework. Focused on style and user interactivity',
    github: 'https://github.com/irubenboy/spotify-clone-with-astro',
    link: '',
    image: '/images/projects/spotify.png',
    tags: [TAGS.ASTRO]
  }
]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(project => (
            <ProjectItem {...project} />
        ))
    }
</div>