---
import NextJSIcon from "@/icons/NextJS.astro";
import TailwindIcon from "@/icons/Tailwind.astro";
import JavaIcon from "@/icons/Java.astro";
import AstroLogo from "@/icons/AstroLogo.astro";
import JavascriptIcon from "@/icons/Javascript.astro";
import HTMLIcon from "@/icons/HTML.astro";
import CSSIcon from "@/icons/CSS.astro";
import ReactIcon from "@/icons/React.astro";

import ProjectItem from "@/components/ProjectItem.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const locale = getI18N({ currentLocale });

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  JAVA: {
    name: "Java",
    class: "bg-white/90 text-black",
    icon: JavaIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroLogo,
  },
  CSS: {
    name: "CSS",
    icon: CSSIcon,
    class: "bg-sky-600 text-white",
  },
  HTML: {
    name: "HTML",
    icon: HTMLIcon,
    class: "bg-amber-600 text-white",
  },
  JAVASCRIPT: {
    name: "Javascript",
    icon: JavascriptIcon,
    class: "bg-yellow-400 text-white",
  },
  REACT: {
    name: "React",
    icon: ReactIcon,
    class: 'bg-[#077A9F] text-white'
  }
};

const PROJECTS = [
  {
    title: locale.JAVA_COMMON_TITLE,
    description: locale.JAVA_COMMON_DESCRIPTION,
    github: "https://github.com/irubenboy/common",
    image: "/portfolio/images/projects/common.png",
    tags: [TAGS.JAVA],
    date: "2023-10-04 12:24 PM"
  },
  {
    title: locale.SPOTIFY_CLONE_TITLE,
    description: locale.SPOTIFY_CLONE_DESCRIPTION,
    github: "https://github.com/irubenboy/spotify-clone-with-astro",
    image: "/portfolio/images/projects/spotify.png",
    tags: [TAGS.ASTRO],
    date: "2024-08-06 09:11 PM"
  },
  {
    title: locale.PORTFOLIO,
    description: locale.PORTFOLIO_DESCRIPTION,
    github: "https://github.com/irubenboy/portfolio-dev.git",
    link: "https://irubenboy.github.io/portfolio/",
    image: "/portfolio/images/projects/portfolio.png",
    tags: [TAGS.ASTRO],
    date: "2024-11-05 07:10 PM"
  },
  {
    title: locale.TIER_MAKER_TITLE,
    description: locale.TIER_MAKER_DESCRIPTION,
    github: "https://github.com/irubenboy/tier-maker",
    link: "https://tiermakerclone.netlify.app/",
    image: "/portfolio/images/projects/tiermaker.png",
    tags: [TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT],
    date: "2024-11-05 06:34 PM"
  },
  {
    title: locale.EXCEL_TITLE,
    description: locale.EXCEL_DESCRIPTION,
    github: "https://github.com/irubenboy/excel.js",
    link: "https://sheetsjs.netlify.app/",
    image: "/portfolio/images/projects/exceljs.png",
    tags: [TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT],
    date: "2024-11-20 12:17 PM"
  },
  {
    title: locale.HP_TITLE,
    description: locale.HP_DESCRIPTION,
    github: "https://github.com/irubenboy/harry-potter",
    link: "https://harrypotter-unofficial.netlify.app/",
    image: "/portfolio/images/projects/hp.png",
    tags: [TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT, TAGS.REACT],
    date: "2025-02-18 12:39 PM"
  }
];

PROJECTS.sort((a,b) => {
  return new Date(b.date).getTime() - new Date(a.date).getTime() 
})
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</div>
