<a 
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class=`
        inline-flex items-center justify-center gap-2 
        px-4 py-1 
        text-gray-800 dark:text-white text-md hover:text-white active:bg-black
        transition 
        bg-gray-100 hover:bg-gray-900 dark:bg-gray-800 hover:borde-gray-700
        border border-gray-300 rounded-full dark:border-gray-600 
        focus-visible:ring-purple-500/80 
        group 
        max-w-fit 
        focus:outline-none focus-visible:outline-none focus-visible:ring-white focus-visible:ring-offset-2 
    `>
    <slot/>
</a>