* {
    min-width: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
video,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-transform: none;
    appearance: button;
    -webkit-appearance: button;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    outline: none;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}